<!DOCTYPE html>
<html>
<head>
    {% csrf_token %}
    </head>

    <body style="background:linear-gradient(to right top, #87CEFA, #ADD8E6, white);">
        {%autoescape off%}
        {{post_list}}
        {%endautoescape%}
        </br>



        {% if true_auth %}
        <header style="background:#FFFFF0;margin-top:0px;height:45px;padding:10px;margin-left:0;margin-bottom:10px;border:5px solid #0000CD">
            <h2 style="color:#FF4500;font-family:comic sans ms;text-align:center;margin-top:0;">Make Your Post!</h2></header>
        <br/><br/>
        <label for="title" style="font-family:comic sans ms;color:#0000CD;background:#F0FFFF;">Post Title:</label>
        <input id="title" style="border-color:#0000CD;background:#FFF0F5;"></br>
        <br/><br/>
        <label for="desc" style="font-family:comic sans ms;color:#0000CD;">Post Desciption:</label>
        <input id = "desc" style="border-color:#0000CD;background:#F0FFFF"></br>
            <br/><br/>
        <label for="md" style="font-family:comic sans ms;color:#0000CD;">Use Markdown?</label>
        <input id="md" type="checkbox" style="border-color:#0000CD;background:#F0FFF0"></br>
            <br/><br/>
        <label for ="content" style="font-family:comic sans ms;color:#0000CD;">Content:</label></br>
        <textarea id="content" cols="50" rows="10" style="border-color:#0000CD;background:#F0FFF0;"></textarea></br>
        <br/><br/>
        <label for="image_link" style="font-family:comic sans ms;color:#0000CD;">Image (optional):</label><input id="image_link" placeholder="URL" onchange="resetFile()" style="border-color:#0000CD;background:#FFF5EE;">
        <label for="image_file" style="font-family:comic sans ms;color:#0000CD;">Or Upload a File</label>
        <input id="image_file" type="file" onchange="resetLink()" style="border-color:#0000CD;font-family:comic sans ms;font-size:15px;color:#0000CD;"></br>
            <br/><br/>
        <label for="post_id" style="font-family:comic sans ms;color:#0000CD;">Unique Post Id (optional)</label>
        <input id="post_id" style="border-color:#0000CD;background:#F0F8FF;"></br></br>
            <br/>

        <label for="add_pa" style="font-family:comic sans ms;color:#0000CD;">Add / Remove Private Authors</label>
        <input id="add_pa" type="button" value="+" onclick="addPrivateAuthor()">
        <input id="rem_pa" type="button" value="-" onclick="removePrivateAuthor()">
        <br/>
        <ul id="pa_list"></ul>


            <br/>
        <input id="makepost" type="button" value="Make Post" onclick="makePost()" style="font-size:30px;background:white;font-family:comic sans ms;color:#00BFFF;border:3px;border-radius:5px;">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>{{postscript|safe}}</script>
        <br/><br/><br/><br/>
        {% endif %}

        </body>






</html>
