<!DOCTYPE html>
<html>
    <head>
        {% include "sub_basic/header.html" %}

        {% csrf_token %}</head>
<body style="background:linear-gradient(to right top, #87CEFA, #ADD8E6, white);">
    <p style="font-family:comic sans ms;font-size:30px;text-align:center;border:5px solid #0000CD;background:#FFF0F5;height:90px;color:#FF1493;margin-bottom:1px;">Comments on Friend Post</p>
    {% for comment in friendpost_comment_list %}
        <li style="border:5px solid #FFF5EE;background:#FFFFE0    ;font-family:comic sans ms;margin-top:5px;font-size:40px;text-align:center;margin-top:50px;width:30%;border-image:linear-gradient(45deg,red,orange,yellow,green,cyan,blue,violet) 1;color:#FF4500;">{{comment}}</li>
    {% endfor %}
    <br/><br/><br/><br/><br/><br/><br/><br/>
</body>

</html>
