    
<!DOCTYPE html>
    <head>

    </head>
    <body>
        {% extends "index.html" %}
        {% block content %}
            {% if user.is_authenticated %}
                <p>This is {{ user.username }}.
                    Your unique userid is {{user_id}}.
                    Your UUID is {{author_uuid}}.</p>
                <a href= "/author/{{author_uuid}}/posts">My Stream</a> <!--Link to making a post/view your post-->
            {% endif %}
            <!-- <p> {{other_server_posts}}</p> -->
            <h3>Public Posts from our server:</h3>
            <div id = "demo"></div>
            <h3>Public Posts from other servers:</h3>
            <div id = "other_servers"></div>
            <script>
                var public_posts_from_our_server = {{our_server_posts|safe}};
                for (var item of public_posts_from_our_server){
                    console.log(item)
                    document.getElementById("demo").innerHTML += "<h4>"+item["title"]+" from "+item["author"]["displayName"]+" on "+item["timestamp"]+"</h4>";
                    document.getElementById("demo").innerHTML += "<p> Description: "+item["description"]+"</p>";
                    document.getElementById("demo").innerHTML += "<p> Content: "+item["content"]+"</p>";
                }

                var False = false;
                var True = true;
                var None = null;
                var public_posts_from_other_server = {{other_server_posts|safe}};
                var buttonID = 0;
                for (let item of public_posts_from_other_server){
                    console.log(item)
                    document.getElementById("other_servers").innerHTML += "<h4>"+item["title"]+" from "+item["author"]["display_name"]+" on "+item["published"]+"</h4>";
                    document.getElementById("other_servers").innerHTML += "<p> Description: "+item["description"]+"</p>";
                    document.getElementById("other_servers").innerHTML += "<p> Content: "+item["content"]+"</p>";
                    // code adaped from kevinji at https://stackoverflow.com/questions/9643311/pass-a-string-parameter-in-an-onclick-function
                    document.getElementById("other_servers").innerHTML += "<input type='button' id='likeButton"+buttonID+"' value='like'/>";
                    document.getElementById("likeButton"+buttonID).addEventListener("click", function() {
                        sendLike(item["source"], item["author"]["url"], item["author"]["host"]);
                    }, false);
                    buttonID++;
                }
                function sendLike(object, inboxUrl, host){
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", inboxUrl, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log(this.responseText);
                        }
                    };
                    // Make like object
                    var author_object = {{our_author_object|safe}};
                    console.log(author_object);
                    var data = JSON.stringify({ "type": "like", "author": author_object, "object":object });
                    
                    // Sending data with the request
                    console.log(data);
                    //auth_list contains a list of tuples, each tuple has (host, authuser, authpassword)
                    var auth_list_for_other_servers = {{auth_list|safe}};
                    var authuser = ""
                    var authpass = ""
                    for(auth in auth_list_for_other_servers) {
                        if(host in auth[0]) {
                            authuser = auth[1]
                            authpass = auth[2]
                            break
                        }
                    }
                    console.log(authuser)
                    console.log(authpass)
                    xhr.setRequestHeader("Authorization", "Basic", + btoa(authuser+":"+authpass))
                    xhr.send(data);
                    console.log("sent");
                }
            </script>
        {% endblock %}
    </body>
</html>
    
