    
<!DOCTYPE html>
    <head>

        <style>
            .post{
                background-color: rgb(89, 201, 79);
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        {% extends "index.html" %}
        {% block content %}
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!.
                    Your unique userid is {{user_id}}.
                    Your UUID is {{author_uuid}}.
                    Your API token is {{token}}.</p>
                <a href= "/author/{{author_uuid}}/posts">My Stream</a> <!--Link to making a post/view your post-->
            {% endif %}
            <!-- <p> {{other_server_posts}}</p> -->
            <h3 style="color:rgb(0, 162, 255)">Public Posts from our server:</h3>
            <div id = "demo"></div>
            <h3 style="color:rgb(0, 162, 255)">Public Posts from other servers:</h3>
            <div id = "other_servers"></div>
            <script>
                
                var index = 0;
                var public_posts_from_our_server = {{our_server_posts|safe}};
                for (let i = 0; i < public_posts_from_our_server.length; i++){
                    var item = public_posts_from_our_server[i];
                    let likes = 0;
                    $.ajax({
                            url: item["id"]+"/likes",
                            type: 'GET',
                            success: function(data){
                                console.log("data is "+data);
                                amount_likes = data.length==0?0:data.length;
                                document.getElementById("likes"+i).innerHTML = amount_likes+" liked this post";
                                // // console.log(likes);
                            },
                            headers: {
                                "X-Requested-With":"XMLHttpRequest"
                            }
                        }); 
                    console.log(item);
                    var result = "<div class = 'post'>";
                    result += "<h4>"+item["title"]+" from "+item["author"]["displayName"]+" on "+item["published"]+"</h4> <p> Description: "+item["description"]+"</p>"+"<p> Content: "+item["content"]+"</p>";
                    result+= "<br><p id=likes"+i+">";
                    result+= likes+" liked this post</p>";
                    document.getElementById("demo").innerHTML += result + "<input type='button' id ='likeButton"+i+"' value='Like'/> </div>";
                    index += 1;
                }
                for (let i = 0; i < public_posts_from_our_server.length; i++){
                    document.getElementById("likeButton"+i).addEventListener("click",function(){
                        let post = {{our_server_posts|safe}}[i];
                        $.ajax({
                            url: '/like',
                            type: 'POST',
                            data: { 
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                thePost:JSON.stringify(post),
                                author:"{{ author }}",
                            },
                        }); 
                    }, false);
                }



                var False = false;
                var True = true;
                var None = null;
                var public_posts_from_other_server = {{other_server_posts|safe}};
                for (let i = index; i < public_posts_from_other_server.length+index; i++){
                    var item = public_posts_from_other_server[i-index];
                    var result = "<div class = 'post'>";
                    result += "<h4>"+item["title"]+" from "+item["author"]["displayName"]+" on "+item["published"]+"</h4>"+"<p> Description: "+item["description"]+"</p>"+"<p> Content: "+item["content"]+"</p>";
                    document.getElementById("other_servers").innerHTML += result + "<input type='button' id ='likeButton"+i+"' value='Like'/> </div>";
                }
                for (let i = index; i < public_posts_from_other_server.length+index; i++){
                    document.getElementById("likeButton"+i).addEventListener("click",function(){
                        let post = {{other_server_posts|safe}}[i-index];
                        $.ajax({
                            url: '/like',
                            type: 'POST',
                            data: { 
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                thePost:JSON.stringify(post),
                                author:"{{ author }}",
                            },
                        }); 
                    }, false);
                }


            </script>
        {% endblock %}
    </body>
</html>
    
