    
<!DOCTYPE html>
    <head>

    </head>
    <body>
        {% extends "index.html" %}
        {% block content %}
            {% if user.is_authenticated %}
                <p>This is {{ user.username }} HomePage
                    Your unique userid is {{user_id}}
                    Your API token is {{token}}</p>
                <p>
                    Your uuid is {{author_uuid}}
                </p>
                <a href="/author/{{user_id}}/posts">My Stream</a> <!--Link to making a post/view your post-->
            {% endif %}
        {% endblock %}
    </body>
</html>
    
