<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        body {
            background-color: rgb(240, 240, 240) !important;
        }
    </style>
    {% csrf_token %}
    {% include "sub_basic/header.html" %}

    </head>

    <body {% if true_auth %}onload="setDefaults()"{% endif %}>

        {%autoescape off%}
        {{post_list}}
        {%endautoescape%}
        </br>



        {% if true_auth %}
        <h2>Edit Post:</h2>
        <label for="title">Post Title:</label>
        <input id="title"></br>
        <label for="desc">Post Desciption:</label>
        <input id = "desc"></br>
        <label for="add_ca" >Categories</label>
        <input id="add_ca" type="button" value="+" onclick="addCategory()">
        <input id="rem_ca" type="button" value="-" onclick="removeCategory()">
        <br/>
        <ul id="ca_list"></ul></br></br>
        <label for="md">Use Markdown?</label>
        <input id="md" type="checkbox"></br>
        <label for ="content">Content:</label></br>
        <textarea id="content" cols="50" rows="10"></textarea></br>
        <label for="image_link">Image (optional):</label><input id="image_link" placeholder="URL" onchange="resetFile()">
        <label for="image_file">Or Upload a File</label>
        <input id="image_file" type="file" onchange="resetLink()"></br></br>
        <label for="privfriends">Make Post Private To Friends?</label>
        <input id="privfriends" type="checkbox"></br>
        </br>
        <label for="add_pa" >Add / Remove Private Authors</label>
        <input id="add_pa" type="button" value="+" onclick="addPrivateAuthor()">
        <input id="rem_pa" type="button" value="-" onclick="removePrivateAuthor()">
        <br/>
        <ul id="pa_list"></ul>
        <label for="un">Make post unlisted? (Post will not be able to be looked up by its id)</label>
        <input id="un" type="checkbox"></br>

        <br/>
        </br>
        </br>

        <input id="editpost" class="button is-info" type="button" value="Edit Post" onclick="editPost()">
        <input id="deletepost" class="button is-info" type="button" value="DELETE Post" onclick="deletePost()">
        </br></br></br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>{{postscript|safe}}</script>
        {% endif %}

        <a id = "back" href="">Back To All Posts</a>
        </body>






</html>
