{% extends 'index.html' %}
{% load static %}
{% csrf_token %}

{% block content %}

<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}
	.friends-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.person-add-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.friend-text{
		font-weight: 500;
		color: black;
	}
	.friends-btn{
		background-color: #cccccc;
		border-color: #cccccc;
		color: #000;
		font-weight: 500;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.card{
		border-radius: 12px;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
	.message-btn-text{
		font-weight: 500;
	}
	
</style>
{% csrf_token %}
<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  		
		  		</div>
				<h3>Email</h3>
		  		<p class="mt-4 mb-1 field-heading">{{email}}</p>
		  		<h3>Username</h3>
		  		<p class="mt-4 mb-1 field-heading">{{username1}}</p>
		  		

				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<!--Have an option to pull Github to profile-->
				<h3>Github:</h3>
				{% if is_self %}
				  	{% if Author.github == "" %}
						<p>You do not have your GitHub connected.</p>
						<input id="github_url" placeholder="GitHub Username">
						<input id="github_submit" type="button" value="Connect to GitHub" onclick="ConnectToGitHub()">
				  	{% else %}
					  	<p>{{ Author.github }}</p>
						  <!-- Maybe add button to take away github later -->
						<script>
								function ReconnectToGitHub(){
									var github_input = "{{Author.github_username}}";
									var url = 'https://api.github.com/users/'+github_input+'/events'
									console.log(url);
									var X = new XMLHttpRequest();
									X.onreadystatechange = function() {
										if (X.readyState == 4 && X.status == 200)
											displayActivity(JSON.parse(X.responseText),github_input.value);
									}
									X.open("GET",url,true);
									X.send(null);
								}

								ReconnectToGitHub();

						</script>
					{% endif %}
					<div id="github_activity"></div>
				{% else %}
					{% if Author.github == "" %}
						<p>This user does not have their GitHub linked.</p>
					{% else %}
						<p>{{ Author.github }}</p>
						<script>
								function ReconnectToGitHub(){
									var github_input = "{{Author.github_username}}";
									var url = 'https://api.github.com/users/'+github_input+'/events'
									console.log(url);
									var X = new XMLHttpRequest();
									X.onreadystatechange = function() {
										if (X.readyState == 4 && X.status == 200)
											displayActivity(JSON.parse(X.responseText),github_input.value);
									}
									X.open("GET",url,true);
									X.send(null);
								}
								ReconnectToGitHub();
						</script>
						<div id="github_activity"></div>
					{% endif %}
				{% endif %}
				<br><br>

		  		<!-- If Auth user is viewing their own profile -->
		  		{% if is_self %}
		  		<a  class="mt-4 btn btn-primary" href="#">Update</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="#">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>

		{% if request.user.is_authenticated %}
		<div class="d-flex flex-column mb-4">

			<!-- THEM to YOU -->
			{% if request_sent == 0 %}
			<div class="card m-2 p-4">
				<div class="d-flex flex-row align-items-center">
					<span class="friend-text align-items-center mr-2">Accept Friend Request</span>
					<span id="id_cancel_{{id}}" class="decline-friend-request material-icons p-1" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>cancel</span>
  					<span id="id_confirm_{{id}}" class="confirm-friend-request material-icons p-1" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>check</span>
				</div>
			</div>
			{% endif %}

			<div >
				<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
				{% if is_friend == False and is_self == False %}
						<!-- You sent them a request -->
						{% if request_sent == 1 %}
						<div >
							<button  id = "id_cancel_friend_request_btn">
								 Friend Request Send
							</button>
						</div>
						{% endif %}

						<!-- No requests have been sent -->
						{% if request_sent == -1 %}
							{% if id < 1000 %}
								<div class="d-flex flex-column align-items-center pt-4">
									<button class="btn btn-primary" id="id_send_friend_request_btn">
										Send Friend Request
									</button>
								</div>
							{% endif %}
							{% if id >= 1000 %}
								<div class="d-flex flex-column align-items-center pt-4">
									<button class="btn btn-primary" id="id_send_remote_friend_request_btn">
										Send Friend Request
									</button>
								</div>
							{% endif %}
						{% endif %}

				{% endif %}
				{% if is_following == False and is_self == False %}
						<!-- You sent them a request -->
						{% if follow_request == 1 %}
						<div >
							<button  id = "id_cancel_friend_request_btn">
								Unfollow
							</button>
						</div>
						{% endif %}

						<!-- No requests have been sent -->
						{% if follow_request == 0 %}
							
							<div class="d-flex flex-column align-items-center pt-4">
								
								{% if id < 1000 %}
									<a href="{% url 'friend:send_following_request' following_request_id=id %}">
										<button class="btn btn-primary" id="id_follow_btn">
											Follow
										</button>
									</a>
								{% endif %}
								{% if id >= 1000 %}
									<a href="{% url 'friend:send_following_request' following_request_id=id %}">
									<button class="btn btn-primary" id="id_remote_follow_btn">
										Follow
									</button>
									</a>
								{% endif %}


							</div>
							
						{% endif %}

				{% endif %}
					
					
				{% if is_friend %}

					<div class="dropdown pt-4 m-auto">
						<button class="btn btn-secondary dropdown-toggle friends-btn" type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Friends
						</button>
						<div class="dropdown-menu" aria-labelledby="id_friends_toggle">
							<a class="dropdown-item" href="#" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
						</div>
					</div>
				{% endif %}
		
				<!-- TODO -->
				<!-- Friend list link -->
				{% if is_self == True%}
			  		<div class="d-flex flex-column pt-4">
						<a href="{% url 'friend:list' user_id=id %}">
							<div class="d-flex flex-row align-items-center justify-content-center icon-container">
								<span class="material-icons mr-2 friends-icon"></span><span class="friend-text">Friends ({{friends|length}})</span>
							</div>
						</a>
					</div>
					<div class="d-flex flex-column pt-4">
						<a href="{% url 'friend:followinglist' user_id=id %}">
							<div class="d-flex flex-row align-items-center justify-content-center icon-container">
								<span class="material-icons mr-2 friends-icon"></span><span class="friend-text">Following ({{followings|length}})</span>
							</div>
						</a>
					</div>
					<div class="d-flex flex-column pt-4">
						<a href="{% url 'friend:followerlist' user_id=id %}">
							<div class="d-flex flex-row align-items-center justify-content-center icon-container">
								<span class="material-icons mr-2 friends-icon"></span><span class="friend-text">Followers ({{followers|length}})</span>
							</div>
						</a>
					</div>
				{% endif %}


			</div>

			<!-- TODO -->
			{% if friend_requests %}
			<div class="card m-2 px-4 pb-4">
				<!-- Friend requests -->
		  		<div class="d-flex flex-column pt-4">
					<a href="{% url 'friend:friend-requests' user_id=id %}">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="material-icons mr-2 person-add-icon"></span><span class="friend-text">Friend Requests ({{friend_requests|length}})</span>
						</div>
					</a>
				</div>
			</div>
			{% endif %}

		</div>
		{% endif %}

		
	</div>
</div>


<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}

	var FollowRequestBtn = document.getElementById("id_remote_follow_btn")
	if(FollowRequestBtn !=  null){
		FollowRequestBtn.addEventListener("click", function(){
			const URL = 'https://iconicity-part2.herokuapp.com/author/' +  '{{me_Cid}}/inbox/';
			var data = {
	          "type": "Follow",      
	          "summary":"follow request",
	          "actor":{
	              "type":"author",
	              "id":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',
	              "url":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',
	              
	              "host":"iconicity-test-a.herokuapp.com",
	              "displayName":"{{username1}}",
	              "github": "{{githubLink}}"
	          },
	          "object":{
	              "type":"author",
					"id":"https://c404posties.herokuapp.com/author/"+"{{receiver_Cid}}",
					"host":"c404posties.herokuapp.com",
					"displayName":"{{username2}}",
					"url":"https://c404posties.herokuapp.com/author/"+"{{receiver_Cid}}",
					"github": "{{githubLink2}}"
	          }
	      	};
	      	csrftoken = document.querySelector('*[name=csrfmiddlewaretoken]').value;
	    	var jsonData = JSON.stringify(data);
			$.ajax({
	            url: URL,
	            type: "POST",
	            headers:  { 'X-CSRFToken': csrftoken },
	            data: jsonData,
	            
	            // dataType: "jsonp",
	            contentType: "application/json",
	            beforeSend: function (xhr) {
    				xhr.setRequestHeader ("Authorization", "Basic " + btoa("auth_user:authpass"));
				},
	            success: function(result){
	            },
	            error: function(XMLHttpRequest, textStatus, errorThrown) {
	              console.log(errorThrown);
	            
	          }

				
			})
		})
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var sendRemoteFriendRequestBtn = document.getElementById("id_send_remote_friend_request_btn")
	if (sendRemoteFriendRequestBtn != null){
		sendRemoteFriendRequestBtn.addEventListener("click", function(){
			const URL = 'https://iconicity-part2.herokuapp.com/author/' +  '{{me_Cid}}/inbox/';
			var data = {
	          "type": "follow",      
	          "summary":"follow request",
	          "actor":{
	              "type":"author",
	              // "id":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',
	              // "url":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',
	              "id":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',
	              "url":'https://iconicity-part2.herokuapp.com/author/' + '{{me_Cid}}',

	              "host":"iconicity-test-a.herokuapp.com",
	              "displayName":"{{username1}}",
	              "github": "{{githubLink}}"
	          },
	          "object":{
	              "type":"author",
					"id":"https://c404posties.herokuapp.com/author/"+"{{receiver_Cid}}",
					"host":"c404posties.herokuapp.com",
					"displayName":"{{username2}}",
					"url":"https://c404posties.herokuapp.com/author/"+"{{receiver_Cid}}",
					"github": "{{githubLink2}}"
	          }
	      	};
	      	csrftoken = document.querySelector('*[name=csrfmiddlewaretoken]').value;
	    	var jsonData = JSON.stringify(data);
			$.ajax({
	            url: URL,
	            type: "POST",
	            headers:  { 'X-CSRFToken': csrftoken },
	            data: jsonData,
	            
	            // dataType: "jsonp",
	            contentType: "application/json",
	            beforeSend: function (xhr) {
    				xhr.setRequestHeader ("Authorization", "Basic " + btoa("auth_user:authpass"));
				},
	            success: function(result){
	            },
	            error: function(XMLHttpRequest, textStatus, errorThrown) {
	              console.log(errorThrown);
	            
	          }

				
			})
		})
	}



	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			//removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		//declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
	
	function ConnectToGitHub(){
		var github_input = document.getElementById("github_url")
		var url = 'https://api.github.com/users/'+github_url.value+'/events'
		console.log(url);
		var X = new XMLHttpRequest();
		X.onreadystatechange = function() {
			if (X.readyState == 4 && X.status == 200){
			// Send github username and url back to views.py
				csrftoken = document.querySelector('*[name=csrfmiddlewaretoken]').value;
				$.ajax(
					{
						type: "POST",
						url: window.location.href,
						headers:  { 'X-CSRFToken': csrftoken },
						data: { "git_url": "http://github.com/"+github_url.value, "git_username": github_url.value},
						success: function () {
							location.reload();
						},
						error: function (response) { console.log(response); }

					}
				)
				}
		}
		X.open("GET",url,true);
		X.send(null);
	}

	function displayActivity(parsedXML,username){
		var i;
		var output = "<h4>Latest Github activity: </h4><ul>";
		for (i = 0; i < parsedXML.length; i++){
			if (i > 4){
				break
			}
			output += '<li>'+parsedXML[i].repo.name+' at '+parsedXML[i].created_at+'</li>'
		}
		if (i === 0){
			document.getElementById("github_activity").innerHTML = "<p>No activity here...</p>"
			return
		}
		// Author.github = "http://github.com/"+username
		
		output += "</ul><br>";
		document.getElementById("github_activity").innerHTML = output;
		
	}
</script>

{% include 'send_request.html' %}
{% include 'accept_friend_request.html' %}

{% endblock content %}
